.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

.button {
    margin: 20px 0 0 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 30px 0;
}

.tr {
    background: rgb(241, 241, 241);
    height: 34px;
}

.trHeader {
    height: 39px;
}

.th {
    border-bottom: solid black 1px;
    font-weight: normal;
}

.thHeader {
    border-bottom: solid black 1px;
}